header{
    background-color: red;
    color: #fff;
    padding: 10px 0;
}
ul{
    list-style: none;
    display:flex;
    justify-content: center
}
li{
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: #fff;
}

body{
    font-family: Arial, sansserif; 
    margin: 0;
    padding: 0;
}

section{
    max-width: 100%;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: red; 
    color: #fff;
}